# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# STM32CubeIDE
.metadata/
.settings/
.project
.cproject
Debug/
Release/
*.launch
RemoteSystemsTempFiles/
.cdt.preprocessor.locks
.vscode/

# STM32CubeMX
*.mxproject
*.IOC

# Embedded development
*.axf
*.scvd
*.zip
*.ioc

# IDE temporary and cache files
.DS_Store
Thumbs.db
